<div id="dyna-menu" class="dyna-menu-widget">
    <a href="#" class="menu-link">
        <img src="{{ site.baseurl }}/img/navicon-png2x.png" width="20" alt="Menu toggle">
    </a>
    <aside class="menu">
        <h4>Getting Started</h4>
        <ul>
            <li class="{% if page.title == " Welcome " %}current{% endif %}">
                <a href="{{ site.baseurl }}/docs/home">Welcome</a>
            </li>
            <li class="{% if page.title == " Installation " %}current{% endif %}">
                <a href="{{ site.baseurl }}/docs/installation">Installation</a>
            </li>
            <li class="{% if page.title == " Quick-start guide " %}current{% endif %}">
                <a href="{{ site.baseurl }}/docs/quickstart">Quick-start guide</a>
            </li>
            <li class="{% if page.title == " Quick-start guide " %}current{% endif %}">
                <a href="{{ site.baseurl }}/docs/properties_injection">Class properties dependency injection</a>
            </li>
            <li class="{% if page.title == " Quick-start guide " %}current{% endif %}">
                <a href="{{ site.baseurl }}/docs/properties_">Class constructor dependency injection</a>
            </li>
            
           <!-- <li class="{% if page.title == " Basic Usage " %}current{% endif %}">
                <a href="{{ site.url }}/docs/usage">Basic Usage</a>
            </li>
            <li class="{% if page.title == " Directory structure " %}current{% endif %}">
                <a href="{{ site.url }}/docs/structure">Directory structure</a>
            </li>
            <li class="{% if page.title == " Configuration " %}current{% endif %}">
                <a href="{{ site.url }}/docs/configuration">Configuration</a>
            </li>-->
        </ul>
       <!-- <h4>Your Content</h4>
        <ul>
            <li class="{% if page.title == " Front-matter " %}current{% endif %}">
                <a href="{{ site.url }}/docs/frontmatter">Front-matter</a>
            </li>
            <li class="{% if page.title == " Writing posts " %}current{% endif %}">
                <a href="{{ site.url }}/docs/posts">Writing posts</a>
            </li>
            <li class="{% if page.title == " Creating pages " %}current{% endif %}">
                <a href="{{ site.url }}/docs/pages">Creating pages</a>
            </li>
            <li class="{% if page.title == " Variables " %}current{% endif %}">
                <a href="{{ site.url }}/docs/variables">Variables</a>
            </li>
            <li class="{% if page.title == " Blog migrations " %}current{% endif %}">
                <a href="{{ site.url }}/docs/migrations">Blog migrations</a>
            </li>
        </ul> -->
    </aside>
</div>
<script type="text/javascript">
YUI().use('yui-mobile-menu', function (Y) {
    Y.on('domready', function() {
        var mobileMenu = new Y.MobileMenu({srcNode: '#dyna-menu'});
        mobileMenu.render();
    });
});
</script>