<div class="legal pure-g-r">
    <div class="pure-u-1-5">
        <div class="l-box">
            <p class="legal-license">Code was originally authored by <a href="https://github.com/asotog88">asotog88</a></p>
        </div>
    </div>
    <div class="git pure-u-3-5 right">
        <a href="https://github.com/asotog88/cradlecore-ioc"><img class="git-icon" src="{{ site.baseurl }}/img/GitHub-Mark-120px-plus.png" alt="github" ></a>
        <p>Source code hosted by <a href="https://github.com/asotog88/cradlecore-ioc">github</a>.</p>
        <p>Travis CI integration, check out commits status,</p>
        <p><a href="https://travis-ci.org/asotog88/cradlecore-ioc"><img src="https://travis-ci.org/asotog88/cradlecore-ioc.png?branch=master" alt="travis ci"></a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="footer pure-u-1">Please feel free to contribute to this code and to contact any of the authors.</div>   