<div class="section-nav pure-g-r">
  <div class="left align-right">
    {% if page.prev_section != null %}
      <a href="{{ site.baseurl }}/docs/{{ page.prev_section }}" class="prev pure-button primary-button">
        Back
      </a>
    {% else %}
      <span class="prev disabled pure-button primary-button">Back</span>
    {% endif %}
  </div>
  <div class="right align-left">
    {% if page.next_section != null %}
      <a href="{{ site.baseurl }}/docs/{{ page.next_section }}" class="next pure-button primary-button">
        Next
      </a>
    {% else %}
      <span class="next disabled pure-button primary-button">Next</span>
    {% endif %}
  </div>
  <div class="clear"></div>
</div>

